*{
    font-family: Helvetica;
    color: #444;
}

.viewport {
    stroke: black;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    border-style: solid;
    border-width: 2px;
    border-color: #444;
}

.interactionLayer{
    stroke: black;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index:        1;
    border-style: solid;
    border-width: 2px;
    border-color: #444;
}

.svgHTMLPanel {
    display:        inline-block;
    position:       absolute; 
    border-style:   solid; 
    border-width:   2px;
    margin:         0px;
    padding:        0px;
    z-index:        2;
    background-color: white;
}

.panelContent{
    margin: 0px;
    padding: 10px;
}

.overlay {
  fill: #fff;
  pointer-events: all;
  opacity:0;
}

#userDataTableContainer {
    overflow-y: auto;
    max-width:400px; 
    max-height:500px;
}

table {
    display:table;
    border-collapse: collapse;
}

table caption {
    text-align: left;
    font-size: 1.17em; 
    margin: .83em 0;
    font-weight: bolder;
}

table caption, h2, h3 {
    padding: 2px;
    margin: 2px;
}

tbody,thead {
    /*display: block;*/
    border: 1px solid black;
}

td, th {
    border: 1px solid black;
}

.panelLabel {
    font-size: 28px;
    stroke-width: 0;
    fill: #444;
    font-weight: normal;
}

.button{
    height: 50px;
    width: 50px;
    display:        inline-block;
    position:       absolute; 
    border-style:   solid; 
    border-width:   2px;
    margin:         0px;
    padding:        0px;
    top:            0px;
    left:           0px;
    z-index:        1;
    cursor:pointer;
    text-align: center;
    line-height: 50px;
    border-color: #444;
}

.button.on {
    background-color: LimeGreen;
}

.button.off{
    background-color: white;
}

.button.inbar{
    position:       relative; 
    height: 30px;
    width: auto;
    vertical-align: middle;
    padding-left: 5px;
    padding-right: 5px;
    line-height: 30px;
    border-radius: 10px;
    border-color: #444;
}

.buttonText{
     display:inline-block;
    font-size:40px; 
    font-weight:bold;
    vertical-align: middle;
    line-height: normal;
    text-align: center;
    cursor:pointer;
    -moz-user-select:none;
    -webkit-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

.buttonText.inbar{
    font-size:15px;
    line-height: 15px;
}

.inbarButtonContainer{
    float:right;
    padding-right: 7px;
}

.bar{
    height: 60px;
    width: 550px;
    display:        inline-block;
    top:            0px;
    left:           0px;
    position:       absolute; 
    border-style:   solid; 
    border-width:   2px;
    margin:         0px;
    padding:        0px;
    z-index:        1;
    background-color: white;
    vertical-align: middle;
    line-height: 60px;
    border-color: #444;
}

@-moz-document url-prefix() {
    .button.inbar{
        line-height: 25px;
    }
    .bar{
        line-height: 55px;
    }
}

.barText{
    display:inline-block;
    vertical-align: middle;
    line-height: normal;
    margin-left:         5px;
    padding-left:        5px;
}

.barText.header{
    padding-right:10px;
    font-weight:bold;
}

.barOption{
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    padding-right: 5px;
}